[Unit]
Description=My django app
Requires=network.target 
After=network.target

[Service]
KillSignal=SIGQUIT
WorkingDirectory={{python_venv_path}}/django
ExecStart={{python_venv_path}}/django/bin/uwsgi --ini {{python_venv_path}}/django/django.ini
Restart=always
Type=notify
NotifyAccess=all
StandardError=syslog

[Install]
WantedBy=multi-user.target