[Unit]
Description=My tensorflow app
Requires=network.target
After=network.target

[Service]
Type=simple
Environment="TENSORFLOW_PATH={{python_venv_path}}/tensorflow/bin"
# To open up extranet access, change --host localhost to --bind_all
ExecStart=/bin/bash -c 'source $TENSORFLOW_PATH/activate; $TENSORFLOW_PATH/tensorboard --logdir=/data/logs --port {{python_applications_tensorflow.port}} --host localhost'
Restart=on-failure

[Install]
WantedBy=multi-user.target



