[Unit]
Description=My {{python_applications}} app
Requires=network.target
After=network.target

[Service]
Type=simple
Environment="PATH={{python_venv_path}}/{{python_applications}}/bin:{{ ansible_env.PATH }}"
ExecStart=/bin/bash -c 'source {{python_venv_path}}/bin/activate; tensorboard --logdir=logs/fit --port {{ python_applications_tensorflow.port }}'

[Install]
WantedBy=multi-user.targe



